/*
 * @author Rebeca Martinez Garcia
 * @author Evelyn Bayas Meza
 * @author Daniel Hernández Arcos
 * @author Teodoro Tovar de la Hija
 */


.mylist {
    margin-top: 15px;
}

h1.title {
    text-align: center;
}

.alert-info {
    align-content: center;
}